.head{
    text-decoration:none;
    text-align:center;
}
.div1{
    text-align:left
}
.img1{
    width:400px;
     height:300px;
    margin-left:50px;
}
.dofixbg {
    width: 100%;
    height: 100vh;
    background-image: url("../../utility/background/do2.png");
    background-size: 100% 100%;
  background-attachment: fixed;
}
.dofixbg3 {
    width: 100%;
    height: 100vh;
    background-image: url("../../utility/background/do1.jpg");
    background-size: 100% 100%;
  background-attachment: fixed;
}
.dofixbg2 {
    width: 100%;
    height: 100vh;
    background-image: url("../../utility/background/covid2.jpg");
    background-size: 100% 100%;
  background-attachment: fixed;
}
.dofixbg1 {
    width: 100%;
    height: 100vh;
    background-image: url("../../utility/background/do3.jpg");
    background-size: 100% 100%;
  background-attachment: fixed;
}